
.pokedex-screen {
  margin: 100px 20px !important;
  height: 400px;
  overflow: scroll;
  border: 10px solid #a3abb7;
  border-radius: 15px;
  background-color: #990910;
  box-shadow: 0 2px 5px black;
}