
.PokedexScreen {
  background: linear-gradient(125deg, #e0526a, #c30928);
  background-color: #DC0A2D;
  padding: 45px 30px;
}

.PokedexScreen-inner {
  background: white;
  height: 100%;
  border: 20px solid #DEDEDE;
}

.PokedexScreen-screen {
  height: 100%;
}

.PokedexScreen-screen-inner {
  height: 100%;
}

.PokedexScreen-screen-inner:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  background: linear-gradient(125deg, white, rgba(24, 195, 251, 0.43), white);
}