
.PokedexScreen {
  background-color: #DC0A2D;
  padding: 45px 30px;
}

.PokedexScreen-inner {
  background: white;
  border-radius: 10px;
  height: 100%;
  border: 20px solid #DEDEDE;
  box-shadow: 0 5px 0px 5px #9babb5;
}

.PokedexScreen-screen {
  height: 100%;
  border: 2px solid #0c0c0c;
}

.PokedexScreen-screen-inner {
  height: 100%;
}